

.dark-theme{
   --primary-color: #007bff;
   --primary-color-light: #057FFF;
   --secondary-color: #6c757d;
   --background-dark-color: #10121A;
   --background-dark-grey: #191D2B;
   --border-color: #2e344e;
   --background-light-color: #F1F1F1;
   --background-light-color-2: rgba(3,127,255,.3);
   --white-color: #FFF;
   --font-light-color: #a4acc4;
   --font-dark-color: #313131;
   --font-dark-color-2: #151515;
   --sidebar-dark-color: #191D2B;
   --scrollbar-bg-color: #383838;
   --scrollbar-thump-color: #6b6b6b;
   --scrollbar-track-color: #ff0000;
}

:root {
   --primary-color:#58d5eb;
   --primary-color-light:#43c8e9;
   --bg-primary: #eefcff;
   --font-primary:#666666;
   --color1: #fe2f75;
 }
 .light-green{
   --primary-color:#5c2ffe;
   --primary-color-light:#42f0a7;
   --bg-primary: #eefcff;
   --font-primary:#666666;
   --input-empty-color: #fe2f75;
   --input-full-color: #fe2f75;
 }